<!-- INCLUDECSS @gaki_cattrum/gaki_cattrum_admin.css -->

{% include 'overall_header.html' %}

<h1>{{ lang('ACP_CATTRUM_TITLE') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}


<form id="gaki_cattrum_acp" name="gaki_cattrum_acp" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('SETTINGS_GENERAL') }}</legend>
		<dl>
			<dt><label for="gaki_cattrum_add_navbar">{{ lang('ACP_CATTRUM_ADD_NAVBAR') ~ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="gaki_cattrum_add_navbar" value="1"{% if GAKI_CATTRUM_ADD_NAVBAR %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="gaki_cattrum_add_navbar" value="0"{% if not GAKI_CATTRUM_ADD_NAVBAR %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="gaki_cattrum_discord_bot_allowed">{{ lang('ACP_CATTRUM_DISCORD_BOT_ALLOWED') ~ lang('COLON') }}</label></dt>
			<dd><label><input type="text" class="full" name="gaki_cattrum_discord_bot_allowed" value="{GAKI_CATTRUM_DISCORD_BOT_ALLOWED}" /></label></dd>
		</dl>
		<dl>
			<dt><label for="gaki_cattrum_discord_bot_forum">{{ lang('ACP_CATTRUM_DISCORD_BOT_FORUM') ~ lang('COLON') }}</label></dt>
			<dd><select id="gaki_cattrum_discord_bot_forum" name="gaki_cattrum_discord_bot_forum">{GAKI_CATTRUM_DISCORD_BOT_FORUM}</select></dd>			
		</dl>	
		
		
		<dl>
			<dt>
				<label for="gaki_cattrum_candidate_template">{{ lang('ACP_CATTRUM_CANDIDATE_TEMPLATE') ~ lang('COLON') }}</label>
				<p> Exemple of Candidate Template:
{% verbatim %}
<pre>
{% for game in GAMES %}
{%  if game == 'Star Citizen' %}
	[size=150][b]Welcome to the stars ![/b][/size]   
{%  elseif game == 'Other game' %}
	[size=150][b]Welcome to the other game ![/b][/size]
{%  else %}
	[size=150][b]{{ game }}[/b][/size]     
{%  endif %}  
{% endfor %}
						
{% for key in KEYS %}
:?: [b] {{ QUESTIONS[key] }} [/b] 
{{ANSWERS[key]}} 

{% endfor %}

[i][size=85]{{ USERNAME }} for {{ GAMES_STRING }} by Discord Cattrum.[/size][/i]
</pre>
{% endverbatim %}
				</p>
			</dt>
			<dd><textarea id="gaki_cattrum_candidate_template" class="full" name="gaki_cattrum_candidate_template" rows="20">{GAKI_CATTRUM_CANDIDATE_TEMPLATE}</textarea></dd>			
		</dl>
		
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input type="hidden" name="sub_action" value="set_settings">	
			{{ S_FORM_TOKEN }}
		</p>		
	</fieldset>
</form>
	
<form id="gaki_cattrum_acp" name="gaki_cattrum_acp" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('SETTINGS_DISCORD_WEBHOOK') }}</legend>

		<!-- BEGIN wh_list -->
		<dl class="cattrum-wh">
			<input type="hidden" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_block_id]" value="{wh_list.WH_BLOCK_ID}">	
			<dt>
				<label for="wh_forum_{wh_list.WH_BLOCK_ID}">{{ lang('ACP_CATTRUM_FORUM') ~ lang('COLON') }}</label><br>
				<select id="wh_forum_{wh_list.WH_BLOCK_ID}" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_forum][]" multiple="multiple">{wh_list.WH_FORUM_OPTIONS}</select><br/>
				<button class="button2" type="submit" id="remove" name="remove_wh" value="{wh_list.WH_BLOCK_ID}">{{ lang('REMOVE') }}</button>&nbsp;
			</dt>
			<dd>
				<p>
					<label>{{ lang('ACP_CATTRUM_NOTIFICATION_FOR') ~ lang('COLON') }}</label><br>
					<label class="checkbox"><input type="checkbox" class="radio" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_new_topic]"    value="1"{% if wh_list.WH_NEW_TOPIC %} checked="checked"{% endif %}  /> {{ lang('ACP_CATTRUM_NOTIFICATION_NEW_TOPIC') }} </label><br>
					<label class="checkbox"><input type="checkbox" class="radio" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_new_post]"     value="1"{% if wh_list.WH_NEW_POST %} checked="checked"{% endif %}  /> {{ lang('ACP_CATTRUM_NOTIFICATION_NEW_POST') }} </label><br>
					<label class="checkbox"><input type="checkbox" class="radio" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_update_topic]" value="1"{% if wh_list.WH_UPDATE_TOPIC %} checked="checked"{% endif %}  /> {{ lang('ACP_CATTRUM_NOTIFICATION_UPDATE_TOPIC') }} </label><br>
					<label class="checkbox"><input type="checkbox" class="radio" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_update_post]"  value="1"{% if wh_list.WH_UPDATE_POST %} checked="checked"{% endif %}  /> {{ lang('ACP_CATTRUM_NOTIFICATION_UPDATE_POST') }} </label>					
				</p>
				<p>
					<label for="wh_urls_{wh_list.WH_BLOCK_ID}">{{ lang('ACP_CATTRUM_WH_URLS') ~ lang('COLON') }}</label><br>					
					<textarea id="wh_urls_{wh_list.WH_BLOCK_ID}" class="full" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_urls]" rows="2">{wh_list.WH_URLS}</textarea>
				</p>
				<p>
					<label for="wh_topics_{wh_list.WH_BLOCK_ID}">{{ lang('ACP_CATTRUM_WH_TOPICS') ~ lang('COLON') }}</label><br>					
					<textarea id="wh_topics_{wh_list.WH_BLOCK_ID}" class="full" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_topics]" rows="1">{wh_list.WH_TOPICS}</textarea>
				</p>
				<p>
					<label for="wh_users_{wh_list.WH_BLOCK_ID}">{{ lang('ACP_CATTRUM_WH_USERS') ~ lang('COLON') }}</label><br>					
					<textarea id="wh_users_{wh_list.WH_BLOCK_ID}" class="full" name="wh_list[{wh_list.WH_BLOCK_ID}][wh_users]" rows="1">{wh_list.WH_USERS}</textarea>
				</p>
			</dd>	
		</dl>
		<!-- END wh_list -->		
		
		<p class="submit-buttons">
			<input class="button2" type="submit" id="add_wh" name="add_wh" value="{{ lang('ADD') }}" />&nbsp;
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input type="hidden" name="sub_action" value="set_webhook">	
			{{ S_FORM_TOKEN }}
		</p>	
		<p>
			{{ lang('ACP_CATTRUM_NOTE_EMPTY_FORUM_LIST') }} 
		</p>	
		<p>
			{{ lang('ACP_CATTRUM_NOTE_FOUND_TOPIC_ID') }} 
		</p>
		<p>
			{{ lang('ACP_CATTRUM_NOTE_FOUND_USERNAME') }} 
		</p>
	</fieldset>
</form>


{% include 'overall_footer.html' %}
