/**
 * ACP
 */

.cattrum-wh select{
    width: 90%;
    height: 200px;
} 

.cattrum-wh dd label {
    font-size: 1.00em;
    text-align: left;
    font-weight: bold;
    color: #4A5A73;
}

.cattrum-wh dd label.checkbox {
    font-size: 1.00em;
    text-align: left;
    font-weight: normal;
}