/**
 *
 * DOL - Discord OAuth2 light. An extension for the phpBB Forum Software package.
 *
 * @copyright (c) 2019, phpBB Studio, https://www.phpbbstudio.com
 * @license GNU General Public License, version 2 (GPL-2.0)
 *
 */
a[href$="cattrum_discord"], a[href$="cattrum_discord"]:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3;
	background: transparent url("./svg/discord.svg") no-repeat;
	border: none;
	color: transparent;
	padding: 4px 8px;
	width: 129px !important;
    height: 30px !important;	
    overflow: hidden;	
}

a[href$="cattrum_discord"]:hover {
	background-position-x: 1px;
	background-position-y: 1px;
}

a[href$="cattrum_twitch"], a[href$="cattrum_twitch"]:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3;
	background: transparent url("./svg/twitch.svg") no-repeat;
	border: none;
	color: transparent;
    padding: 4px 10px;
    width: 96px !important;
    height: 30px !important;
    overflow: hidden;	
}

a[href$="cattrum_twitch"]:hover {
	background-position-x: 1px;
	background-position-y: 1px;
}

/**
 * Small version
 */

 a.cattrum_small[href$="cattrum_discord"] {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3;
	background: transparent url("./svg/discord-small.svg") no-repeat;
	border: none;
	color: transparent;
	padding: 4px 8px;
	width: 14px !important;
    height: 15px !important;
    overflow: hidden;	
}

a.cattrum_small[href$="cattrum_discord"]:hover {
	background-position-x: 1px;
	background-position-y: 1px;
}

a.cattrum_small[href$="cattrum_twitch"] {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3;
	background: transparent url("./svg/twitch-small.svg") no-repeat;
	border: none;
	color: transparent;
	padding: 4px 8px;
	width: 12px !important;
    height: 14px !important;
    overflow: hidden;	
}

a.cattrum_small[href$="cattrum_twitch"]:hover {
	background-position-x: 1px;
	background-position-y: 1px;
}
