

<!-- IF GAKI_CATTRUM_ADD_NAVBAR -->
    {# cattrum #}
    <li class="rightside" data-skip-responsive="true">
        <!-- IF GAKI_CATTRUM_DISCORD -->
            <a href="{U_LOGIN_LOGOUT}&login=external&oauth_service=cattrum_discord" class="button2 cattrum_small">Discord</a>
        <!-- ENDIF -->
        <!-- IF GAKI_CATTRUM_TWITCH -->
            <a href="{U_LOGIN_LOGOUT}&login=external&oauth_service=cattrum_twitch" class="button2 cattrum_small">Twitch</a>
        <!-- ENDIF -->
    </li>
<!-- ENDIF -->