{% if TEMPLATE is empty %}

{% for game in GAMES %}
{%  if game == 'Star Citizen' %}
		[size=150][b]Welcome to the stars ![/b][/size]   
{%  elseif game == 'Other game' %}
		[size=150][b]Welcome to the other game ![/b][/size]
{%  else %}
		[size=150][b]{{ game }}[/b][/size]     
{%  endif %}  
{% endfor %}
						
{% for key in KEYS %}
:?: [b] {{ QUESTIONS[key] }} [/b] 
{{ANSWERS[key]}} 

{% endfor %}

[i][size=85]{{ USERNAME }} for {{ GAMES_STRING }} by Discord Cattrum.[/size][/i]

{% else %}
{{ include(template_from_string(TEMPLATE, "template for page " ~ page.name)) }}
{% endif %}